.exp-title {
  @include font(700, 16px, 1.5);
  margin-bottom: 8px;
  text-transform: uppercase;
  color: #8491a0;
}

.exp-text {
  @include font(700, 32px, 1.18);
  margin-bottom: 40px;
  color: var(--main-text-color);
}

.exp-number {
  @include font(400, 117px, 0.8);
  padding: 30px 0;
  color: var(--lightgrey-text-color);
}

.exp-designer-text {
  @include font(700, 24px, 1.5);
  margin-bottom: 16px;
  color: var(--main-text-color);
  .exp-google {
    color: #3cc74e;
  }
}
.exp-designer-text > .exp-facebook {
  color: #609bff;
}

.exp-designer-text > .exp-drible {
  color: #e95d90;
}

.exp-discribe-text {
  @include font(400, 16px, 1.5);
  color: var(--lightgrey-text-color);
}

.exp-item {
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 0;
  }
}
