.footer.section {
  background-color: var(--secondary-background-color);
}

.soc-list {
  display: flex;
  align-items: center;
}

.soc-link {
  display: flex;
  align-items: center;
}

.soc-icon-twitter {
  fill: #26a7de;
  &:hover,
  &:focus {
    fill: var(--hover-link-color);
    transition: 300ms ease;
  }
}

.soc-icon-dribble {
  fill: #e94b88;
  &:hover,
  &:focus {
    fill: var(--hover-link-color);
    transition: 300ms ease;
  }
}

.soc-icon-linked {
  fill: #26a7de;
  &:hover,
  &:focus {
    fill: var(--hover-link-color);
    transition: 300ms ease;
  }
}
