.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  border-bottom: solid 1px red;
  background-color: var(--main-background-color);
}

.navigation {
  display: flex;
}

.logo-link {
  display: block;
  padding: 24px 0;
}

.logo__svg {
  fill: #ffffff;
  &:hover,
  :focus {
    fill: #3cc74e;
  }
}

.burger {
  fill: #c4c4c4;
  &:hover,
  :focus {
    fill: #3cc74e;
  }
}

.mobile-button {
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
