:root {
  --main-background-color: #000000;
  --secondary-background-color: #181823;
  --main-text-color: #ffffff;
  --lightgrey-text-color: #8491a0;
  --darkgrey-text-color: #5b6876;
  --hover-link-color: #3cc74e;
}
